.App-header {
  background-image: url("gomc.png");
  /* background-color: #3f3e3e; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.imag {
  width: 160px;   
  height: 170px; 
  border-bottom-left-radius: 50% 55%;
  border-bottom-right-radius: 50% 55%;
  border-top-left-radius: 50% 55%;
  border-top-right-radius: 50% 55%;
  }
  
h2 {
  border-radius: 7px;
  background-color: rgb(219 25 0);
  margin: 20px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  font-size: larger;
}
h4 {
  border-radius: 7px;
  background-color: rgb(219 25 0);
  margin: 20px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  font-size: larger;
}